.dataTables_paginate a {
    padding: 8px !important;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}
.container {
    max-width: 960px;
}
.lh-condensed { line-height: 1.25; }
.py-5{
    margin-left: 30px;
}